extends layout
block main 
    h1 ahdasjhfda
    table(id='table-libros').table-hover
        thead 
            tr
                th Isbn
                th Titulo
                th Autor
                th Genero 
                th Precio 
